parameters:
	ignoreErrors:
		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Services/Auth/PermissionService.php

		-
			message: "#^Access to an undefined property App\\\\Services\\\\Investment\\\\AssetLocation\\\\AssetLocationOptimizer\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: app/Services/Investment/AssetLocation/AssetLocationOptimizer.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Estate\\\\GiftingStrategyOptimizer\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Estate/GiftingStrategyOptimizer.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Estate\\\\PersonalizedGiftingStrategyService\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Estate/PersonalizedGiftingStrategyService.php

		-
			message: "#^Job class App\\\\Jobs\\\\RunMonteCarloSimulation constructor invoked with 2 parameters in App\\\\Jobs\\\\RunMonteCarloSimulation\\:\\:dispatch\\(\\), 6\\-8 required\\.$#"
			count: 1
			path: packs/country-gb/src/Investment/ScenarioService.php

		-
			message: "#^Method Fynla\\\\Packs\\\\Gb\\\\Plans\\\\WhatIfCalculator\\:\\:resolveService\\(\\) has invalid return type Fynla\\\\Packs\\\\Gb\\\\Plans\\\\BasePlanService\\.$#"
			count: 1
			path: packs/country-gb/src/Plans/WhatIfCalculator.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Protection\\\\RecommendationEngine\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Protection/RecommendationEngine.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Savings\\\\PSACalculator\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Savings/PSACalculator.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Savings\\\\SavingsActionDefinitionService\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Savings/SavingsActionDefinitionService.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Savings\\\\SavingsDataReadinessService\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Savings/SavingsDataReadinessService.php

		-
			message: "#^Access to an undefined property Fynla\\\\Packs\\\\Gb\\\\Tax\\\\TaxOptimisationService\\:\\:\\$taxCalculator\\.$#"
			count: 1
			path: packs/country-gb/src/Tax/TaxOptimisationService.php
